# Machine/Setup files
myname.txt
monte_info
repo_links.txt

# Private files (NEVER in source control)
.password

# Cache files
status.txt
.built_dirs
host_job_queue.txt
.DS_Store

# Other
results/*
compiled_results/*

# Temp files/dirs
job_dirs/*
moos_dirs/*

# Backup files
.deleted_results
.deleted_results_2




