# Machine/Setup files
myname.txt
monte_info
repo_links.txt

# Private files (NEVER in source control)
.password

# Cache files
status.txt
bad_jobs.txt
.built_dirs
host_job_queue.txt
.DS_Store

# Other
results/*
compiled_results/*
local_results/*

# Temp files
job_dirs/*
moos_dirs/*
.deleted_results
.deleted_results_2




